/*
    blue    #64b3d9
    red     #d96464     #e43e42
    green   #64d981
*/

body[data-strawberry-bite] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #444;   
}

body[data-strawberry-bite] h1 {
    font-size: 18px;
}
            
body[data-strawberry-bite] h2 {
    font-size: 16px;
}
            
body[data-strawberry-bite] h3 {
    font-size: 14px;
}

body[data-strawberry-bite] a {
    outline: none;
}

body[data-strawberry-bite] button {
    padding: 8px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #d96464;
    color: white; 
}

body[data-strawberry-bite] button:active {
    opacity: 0.5;
}

body[data-strawberry-bite] a:link {
    color: #d96464;
}

body[data-strawberry-bite] a:visited {
    color: #d96464;
}

body[data-strawberry-bite] a:hover {
    color: #d96464;
}

body[data-strawberry-bite] a:active {
    color: #d96464;
}
            
body[data-strawberry-bite] .fas,
body[data-strawberry-bite] .far,
body[data-strawberry-bite] .fal,
body[data-strawberry-bite] .fad,
body[data-strawberry-bite] .fab {
    pointer-events: none;
}
            
body[data-strawberry-bite] > div[data-modal] {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
            
body[data-strawberry-bite] > div[data-modal] > div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 8px;
}
            
body[data-strawberry-bite] > div[data-modal] > div > form {
    box-sizing: border-box;
    background-color: white;
    width: 600px;
    padding: 12px;
    border-radius: 12px;
}

body[data-strawberry-bite] > div[data-modal] > div > form > div > label {
    font-weight: bold;
}

body[data-strawberry-bite] > div[data-modal] > div > form > div {
    box-sizing: border-box;
    margin-bottom: 12px;
}
            
body[data-strawberry-bite] > [data-modal] > div > form > div:first-child, 
body[data-strawberry-bite] > [data-modal] > div > form > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
            
body[data-strawberry-bite] > [data-modal] > div > form > div:last-child > div {
    font-size: 11px;
    font-weight: bold;
}

body[data-strawberry-bite] > [data-modal] > div > form > div:first-child > button {
    background-color: transparent;
    color: #444;
}

body[data-strawberry-bite] > [data-modal] > div > form > div:first-child > button:hover {
    color: #d96464;
}
         
body[data-strawberry-bite] > div[data-modal] > div > form > div > label > input[type=text], 
body[data-strawberry-bite] > div[data-modal] > div > form > div > label > select, 
body[data-strawberry-bite] > div[data-modal] > div > form > div > label > textarea {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    background-color: transparent;
}

body[data-strawberry-bite] > div[data-modal] > div > form > div:focus-within > label {
    color: #d96464;
}
            
body[data-strawberry-bite] > div[data-modal] > div > form > div > label > input:focus {
    box-sizing: border-box;
    border-bottom: 2px solid #d96464;
}

body[data-strawberry-bite] > div[data-modal] > div > form > div > label > input:invalid {
    box-shadow: none;
}
